/* Page: Homepage */

//----Main Title
#title-home {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 400;
    color: $base-font;
    line-height: 45px;
    position: absolute;
    right: 200px;
    top: 10px;
    @media screen and (max-width: 950px) {
        right: 10px;
        font-size: 18px;
    }
}

//Main Container
main {
    width: 100%;
    height: 100%;
    #home_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;

        section {
            flex-direction: column;
            width: 300px;
            height: auto;
            text-align: center;
            flex-wrap: wrap;
            flex: 0 0 33.333333%;
            margin-bottom: 50px;

            @media screen and (max-width: 1024px) {
                flex: 0 0 50%;
            }

            @media screen and (max-width: 768px) {
                flex: 0 0 100%;
            }

            img {
                display: inherit;
                border-radius: 50%;
                width: 250px;
                height: 250px;
                object-fit: cover;
                filter: drop-shadow(0px 4px 3px rgba(50, 50, 0, 0.5));

                &:hover {
                    cursor: pointer;
                }
            }

            h2 {
                font-size: 36px;
                font-weight: 400;
                line-height: 45px;
                color: $h2-font;
            }

            h3 {
                font-size: 16px;
                font-weight: 400;
                line-height: 15px;
                color: $base-font;
                margin-bottom: 15px;
            }

            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 13px;
                margin-bottom: 5px;
            }

            em {
                font-size: 17px;
                color: #757575;
            }
        }
    }
}

//-----Small popup to scroll up
#scrollup {
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    padding: 5px;
    background-color: $float;
    color: black;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: none;
}
