/* Block: CONTACT MODAL */

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 30px;
    border-radius: 5px;

    background-color: $float;

    display: none;
    animation-name: modalopen;
    animation-duration: 0.5s;

    h2,
    h3 {
        font-size: 45px;
        @media screen and (max-width: 768px) {
            font-size: 25px;
        }
    }

    .close_modal {
        position: absolute;
        right: 50px;
        top: 50px;
        font-size: 45px;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            width: 280px;
        }

        .text-control {
            height: 60px;
        }

        label {
            font-size: 30px;
        }

        input,
        textarea {
            margin-bottom: 10px;
            border-radius: 5px;
            border: none;
        }

        .btn-submit {
            margin-top: 10px;
            width: 170px;
            height: 70px;
            background-color: $base-font;
            color: white;

            font-size: 18px;
            font-weight: 700;
            border: none;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
